@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');

.bodyContent {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(160deg, white, white,white, #5DADE2);
    scroll-behavior: smooth;
}