.projectContainerCSS {
    border-radius: 20px;
    background-color: #1F618D;
    margin: 10px;
    padding: 10px;
    height: 600px;
}

.projectTitleStyle {
    border-radius: 20px;
    background-color: #F6F6F6;
    width: 100%;
    text-align: center;
}

.projectHeadingStyle {
    padding: 10px 0 10px 0; 
    color: #1F618D;
}

.imageStyle {
    text-align: center;
    margin-top: 30px;
}

.gifWidthProp {
    width: 80%;
}

.linkStyle {
    margin-top: 30px;
    color: black;
    text-align: center;
    font-size: 15px
}

.hide{
    visibility: hidden;
}